//-- Created by yangli on 25/01/15.

.slide-2.slides
    .box
        h1 Today's Agenda!

        ul
            li.highlighter Introduction/How I learnt Angular
            li Create a directive
            li Communicate between directives/controllers
            li Firebase/AngularFire
