//-- Created by yangli on 25/01/15.
.slide-9.slides
    .box
        h1 We're up to:
        ul
            li Introduction/How I learnt Angular
            li Create a directive
            li Communicate between controllers
            li.highlighter Firebase/AngularFire
