//-- Created by yangli on 25/01/15.

.slide-1.slides
    .headings
        h1 NG-Sydney Feb 2015
        h2 From Finance to AngularJS
        h2 videoshare.firebaseapp.com
        h3 By Yang Li

    .social
        a(href="http://au.linkedin.com/pub/yang-li/46/119/534" target="_blank")
            i(class="fa fa-linkedin-square")
        a(href="https://github.com/yangli1990" target="_blank")
            i(class="fa fa-github-square")


