//-- Created by yangli on 25/01/15.

.slide-10.slides
    h1 Using Firebase/Angular-fire
    h2 Lets create a&nbsp;
        a(href="http://plnkr.co/edit/LD6jJExgkUzhNJcTjWrq" target="_blank") chat-app
