//-- Created by yangli on 25/01/15.
.slide-5.slides
    .box
        h1 We're up to:
        ul
            li Introduction/How I learnt Angular
            li.highlighter Create a directive
            li Communicate between directives/controllers
            li Firebase/AngularFire

